<section class="d-flex justify-content-center align-items-center min-vh-100 bg-light">
  <div class="text-center">
    <h1 class="mb-4">Zoom Meeting</h1>
    
    <div class="row">
      <div class="column">
        <div style="position: absolute; inset: 0px 0px auto auto; margin-top: 20%; transform: translate(0px, 0px);" #meetingSDKChatElement id="meetingSDKChatElement"></div>
      </div>
      <div class="column">
      </div>
      <div class="column">
        <div #meetingSDKElement id="meetingSDKElement"></div>
      </div>
    </div>
  </div>
</section>
