<div class="py-5" id="content">
  <div class="d-flex justify-content-center align-items-center min-vh-100 bg-light">


    <div class="text-center">
      
      <div class="row">
        <div class="column">
          <div  #meetingSDKChatElement id="meetingSDKChatElement"></div>
        </div>
        <div class="column">
        </div>
        <div class="column">
          <div #meetingSDKElement id="meetingSDKElement"></div>
        </div>
      </div>
    </div>
  </div>
</div>

  
<!-- style="position: absolute; inset: 0px 0px auto auto; margin-top: 0%; transform: translate(0px, 0px);" -->